.appbody-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    overflow-x: hidden;
}

.header-text {
    font-size: 64px;
    width: auto;
    padding: .5% 5%;
    border-radius: 25px;
    background-color: #96d8de;
}
    
.link-container {
    position: relative;
    display: flex;
    margin: 0 auto;
    max-width: 100%;
    flex-direction: column-reverse;
    align-content: center;
    text-align: center;
}

.img-link-container {
    padding: 0;
    margin: 0 auto;
    width: 40%;
    transition: .3s ease;
    border-radius: 50%;
    background: url('../../assets/forSaleLogo/pokeball-bg.png') no-repeat;
    background-size: cover;
    z-index: 0;
}

.forSale-link {
    width: 5%;
}

.forSale-img {
    width: 100%;
    transition: .3s ease;
    z-index: 2;
}

.forSale-link::before {
    content: '';
    background-image: url('../../assets/forSaleLogo/ghold.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    display: inline-flex;
    width: 0%;
    height: 0%;
    top: 60%;
    left: 40%;
    z-index: -1;
    transition: .3s ease;
}

.forSale-link::after {
    content: '';
    background-image: url('../../assets/forSaleLogo/gimmi.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    display: inline-flex;
    width: 0%;
    height: 0%;
    top: 60%;
    right: 40%;
    z-index: -1;
    transition: .3s ease;
}

.desc-box {
    padding: 0;
    margin: 0 auto;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.desc-link {
    width: 40%;
    transition: .3s ease;
    border-radius: 25px;
    margin: 0 auto;
    color: black;
    font-size: 36px;
    background-color: #78ced6;
    outline: 1px #fff solid;
    transition: 0.2s linear;
    padding-bottom: 1.5%;
}

.desc-link::before {
    content: '';
    width: 100%;
    height: 30px;
    position: relative;
    display: block;
    z-index: 2;
    opacity: 0;
    border-radius: 25px;
    background: #78ced6;
    transition: 0.3s linear;
}

.tcg-img {
    width: 70%;
    display: block;
    padding: 0% 1%;
    margin: auto;
}

.sidenote-text {
    font-size: 36px;
    padding: 2%;
}

.desc-link:hover {
    color: white;
    outline: 2px white solid;
    opacity: 85%;
    transform: scale(1.1);
}

.desc-link:hover::before {
    opacity: 100%;
    background: linear-gradient(to top , #78ced6 25%, #fff);
}

.forSale-img:hover {
    opacity: 95%;
    transform: scale(1.1);
    z-index: 5;
}

.forSale-link:hover::before{
    content: '';
    width: 50%;
    height: 50%;
    top: 40%;
    left: 15%;
} 
.forSale-link:hover::after {
    content: '';
    width: 50%;
    height: 50%;
    top: 40%;
    right: 18%;
}
  
/* Scaling by Dimension*/
@media screen and (max-width: 1200px) {
  
}
@media screen and (max-width: 960px) {
  
}
@media screen and (max-width: 768px) {
    .appbody-container {
      padding-top: 0%;
    }

    .img-link-container {
        width: 60%;
    }
    
    .header-text {
      font-size: 54px;
    }

    .link-container {
      position: relative;
      display: flex;
      padding-bottom: 5%;
      max-width: 100%;
      margin: 0 auto;
      align-items: center;
    }
  
    .desc-link {
        padding-bottom: 4%;
    }

    .desc-text {
      width: 100% auto;
      font-size: 24px;
    }

    .sidenote-text {
        font-size: 20px;
        padding-top: 2.5%;
    }
}
@media screen and (max-width: 430px) {
    .header-text {
      font-size: 34px;
    }

    .desc-link {
        padding: 0 0% 7% 0%;
    }

    .desc-link:hover::before {
        opacity: 100%;
        width: 100%;
        background: linear-gradient(to top , #78ced6 25%, #fff);
    }
  
    .desc-text {
      width: 100%;
      font-size: 18px;
    }

    .forSale-img:hover {
        transform: scale(1.2);
    }

    .forSale-link:hover::before{
        content: '';
        width: 44%;
        height: 44%;
        top: 50%;
        left: 15%;
    } 
    .forSale-link:hover::after {
        content: '';
        width: 46%;
        height: 46%;
        top: 50%;
        right: 18%;
    }
}