.sprite-container {
    width: 100%;
    overflow: hidden;
    padding: 2% 0 2% 0;
    display: inline-flex;
}

.sprite-container::before {
  content: '';
  width: 100%;
  height: 2px;
  background: #fff;
  position: absolute;
  z-index: -1;
}

/* Looping Pokemon Sprites */
@keyframes loopingImg {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-150px * 33));
  }
}

.looping-container {
    display: inline-flex;
    animation: loopingImg 100s infinite linear;
    will-change: transform;
}
  
.looping-img-container {
    width: 150px;
}

.sprite-img {
    width: 100%;
    transition: .3s ease;
}
  
.sprite-img:hover {
    transform: scale(1.2);
}

@media screen and (max-width: 1200px) {
  @keyframes loopingImg {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-150px * 33));
    }
  }
}

@media screen and (max-width: 960px) {
  .looping-img-container {
    width: 150px;
  }

  @keyframes loopingImg {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-150px * 33));
    }
  }
}

@media screen and (max-width: 768px) {
   .looping-img-container {
        width: 120px;
   }

  @keyframes loopingImg {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-150px * 33));
    }
  }
}

@media screen and (max-width: 430px) {
  .looping-img-container {
    width: 150px;
  }

  @keyframes loopingImg {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-150px * 33));
    }
  }
}