.sprite-container {
    width: 100%;
    overflow: hidden;
    padding: 40px 100px;
    margin: 0 auto;
    align-items: center;
    display: inline-flex;
}

/* Looping Pokemon Sprites */
@keyframes loopingImg {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  
.looping-container {
    animation: loopingImg 9s infinite linear;
    position: relative;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}
  
.looping-img-container {
    width: 150px;
    padding: 0% 1%;
}

.sprite-img {
    position:inherit;
    width: 100%;
    transition: .3s ease;
}
  
.sprite-img:hover {
    transform: scale(1.2);
}