
/* App Body */
.app-body {
  width: 100%;
  display: flex;
  padding-bottom: 20%;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  overflow-x: hidden;
}

.header-text {
  font-size: 64px;
  width: auto;
  padding: 1% 4%;
  border-radius: 25px;
  margin: 0 auto;
  background-color: #78ced6;
}

.desc-text {
  position: relative;
  display: flex;
  color: white;
  font-size: 28px;
  background-color: #61c5cf;
  padding: 6%;
  border-radius: 25px;
  margin: 3%;
}

.box-set {
  position: relative;
  display: flex;
  padding-bottom: 5%;
  margin: 0 auto;
  max-width: 100%;
  flex-direction: column-reverse;
  align-content: center;
}

.link-box {
  padding: 0;
  margin: 0 auto;
  width: 50%;
  transition: .3s ease;
  border-radius: 50%;
}

.link-box:hover {
  outline: 7px solid #78ced6;
  opacity: 85%;
}

.desc-box {
  padding: 0;
  margin: 0 auto;
  width: 50%;
  text-align: center;
}

.desc-box a {
  text-decoration: none;
}

.desc-box a:hover {
  background-color: aliceblue;
  outline: 5px solid #78ced6;
  border-radius: 50%;
  opacity: 85%;
}

.forSale-logo {
  width: 100%;
  margin: 0 auto;
}

.closing-text {
  width: 75%;
  margin: 0 auto;
}

/* Scaling by Dimension*/
@media screen and (max-width: 1200px) {

}
@media screen and (max-width: 960px) {

}
@media screen and (max-width: 768px) {
  .box-set {
    position: relative;
    display: flex;
    padding-bottom: 5%;
    max-width: 100%;
    margin: 0 auto;
    align-items: center;
  }

  .app-body {
    padding-top: 0%;
  }

  .header-text {
    font-size: 54px;
  }

  .desc-text {
    width: 100% auto;
    font-size: 24px;
  }
}
@media screen and (max-width: 430px) {

  .header-text {
    font-size: 34px;
  }

  .desc-text {
    width: 100%;
    font-size: 18px;
  }
}