* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  background-color: #d9d9d9;
  font-family:"Bebas Neue", sans-serif;
}

h2 {
  color: white;
  font-size: 48px;
  text-align: center;
  margin-bottom: 28px;
}